@use "helpers/color" as *;

.contacts {
  margin-bottom: 5px;

  &__phone-link {
    justify-self: center;
  }
}

.contact {
  // display: flex;
  // justify-content: space-between;
  // align-items: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-bottom: 4rem;
  border-bottom: 1px solid $subline-color-grey;

  &__phone-link {
    // display: block;
    justify-self: center;
    align-self: end;
  }

  &__mode-work {
    margin-top: 2.5rem;
  }

  li {
    list-style-type: none;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.6rem;
      color: $main-orange;
    }

    p {
      font-size: 1.8rem;
      color: $main-black;
    }
  }
  a {
    font-size: 1.8rem;
    color: $main-black;
    text-decoration: none;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: end;

    button {
      display: block;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #fff;
      border: none;
      width: 27rem;
      padding: 1rem 0;
      cursor: pointer;
    }

    &-btn-online {
      background-color: $main-green;
      margin-bottom: 1.5rem;
    }

    &-btn-gager {
      background-color: $main-orange;
    }
  }
}
