@use "helpers/color" as *;

.contacts {
  margin-bottom: 5px;

  &__phone-link {
    justify-self: center;
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-bottom: 4rem;
  border-bottom: 1px solid $subline-color-grey;

  @media (max-width: 673px) {
    grid-template-columns: 1fr;
  }

  &__phone-link {
    justify-self: center;
    align-self: end;
    color: $main-black !important;

    @media (max-width: 673px) {
      justify-self: start;
      margin-top: 2.5rem;
    }
  }

  &__mode-work {
    margin-top: 2.5rem;
  }

  li {
    list-style-type: none;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.6rem;
      color: $main-orange;
    }

    p {
      font-size: 1.8rem;
      color: rgb(139, 139, 139);
    }
  }
  a {
    font-size: 1.8rem;
    color: rgb(139, 139, 139);
    text-decoration: none;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: end;

    @media (max-width: 673px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 2.5rem;
    }

    button {
      display: block;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #fff;
      border: none;
      width: 27rem;
      padding: 1rem 0;
      cursor: pointer;
      transition: all 0.3s ease-in;

      &:hover {
        opacity: 0.8;
      }

      @media (max-width: 768px) {
        width: 17rem;
        font-size: 1.2rem;
      }
    }

    &-btn-online {
      background-color: $main-green;
      margin-bottom: 1.5rem;
      border-radius: 0.5rem;

      @media (max-width: 673px) {
        margin-bottom: 0;
      }
    }

    &-btn-gager {
      background-color: $main-orange;
      border-radius: 0.5rem;
    }
  }
}
