@font-face {
  src: url(../fonts/Mort-Regular.woff) format("woff");
  font-family: "Mont";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Mort-Medium.woff) format("woff");
  font-family: "Mont";
  font-weight: 500;
}

@font-face {
  src: url(../fonts/Mort-Bold.woff) format("woff");
  font-family: "Mont";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Roboto-Medium.woff) format("woff");
  font-family: "Roboto";
  font-weight: 500;
}

@font-face {
  src: url(../fonts/Roboto-Regular.woff) format("woff");
  font-family: "Roboto";
  font-weight: 400;
}
