@use "helpers/color" as *;

.swiper {
  max-width: 189rem;
  margin-top: 8.6rem;
  margin-bottom: 12rem;
  @media (max-width: 768px) {
    margin-bottom: 6rem;
  }
}

.swiper-slide {
  img {
    width: 100%;
  }
}

.swiper-scrollbar-drag {
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  background-color: $main-orange;
}
