@use "helpers/color" as *;

.cards {
  margin-bottom: 20rem;
}

.card {
  &__list {
    list-style-type: none;
    padding: 1.5rem 0;
    border-bottom: 1px solid $subline-color-grey;

    &:first-child {
      border-top: 1px solid $subline-color-grey;
    }
  }

  &__list-heading {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;

    color: $main-black;
  }

  &__list-heading-price {
    display: block;
    margin-top: 1.5rem;
    color: $main-orange;
  }

  &__description {
    margin-right: 4rem;
    // outline: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__description-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $main-grey;
    flex: 1 1 auto;

    @media (max-width: 1260px) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__btn {
    border: none;
    background: transparent;
    font-size: 2rem;
    font-weight: 500;
    color: $main-black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $main-green;

      // border: 1px solid red;
      svg {
        transform: rotate(-45deg);
      }
    }

    svg path {
      transition: stroke 0.3s ease; // плавный переход цвета контура
    }

    &:hover svg path {
      stroke: $main-green;
    }

    svg {
      transition: transform 0.3s ease; // плавный переход для поворота
    }

    &:not(:hover) svg {
      transform: rotate(0deg); // возвращаем в исходное положение
    }
  }

  &__img {
    width: 100%;
  }
}
