@use "helpers/color" as *;

.cards {
  margin-bottom: 20rem;

  @media (max-width: 768px) {
    margin-bottom: 10rem;
  }
}

.card {
  &__list {
    list-style-type: none;
    padding: 1.5rem 0;
    border-bottom: 1px solid $subline-color-grey;

    &:first-child {
      border-top: 1px solid $subline-color-grey;
    }
  }

  &__list-heading {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: $main-black;

    @media (max-width: 768px) {
      font-size: 2rem;
      line-height: 2.44rem;
    }

    @media (max-width: 673px) {
      grid-column: 1/3;
      margin-bottom: 2rem;
    }

    @media (max-width: 450px) {
      grid-column: 1/4;
      margin-bottom: 2rem;
    }
  }

  &__list-heading-price {
    display: block;
    margin-top: 1.5rem;
    color: $main-orange;
    @media (max-width: 673px) {
      font-size: 1.6rem;
      margin-top: 0.3rem;
    }
  }

  &__description {
    margin-right: 4rem;
    // outline: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 673px) {
      grid-column: 1/4;
      margin-right: 0;
    }
  }

  &__description-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $main-grey;
    flex: 1 1 auto;

    @media (max-width: 1260px) {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    @media (max-width: 673px) {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    border: none;
    background: transparent;
    font-size: 2rem;
    font-weight: 500;
    color: $main-black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 673px) {
      font-size: 1.6rem;
    }

    &:hover {
      color: $main-green;

      // border: 1px solid red;
      svg {
        transform: rotate(-45deg);
      }
    }

    svg path {
      transition: stroke 0.3s ease; // плавный переход цвета контура
    }

    &:hover svg path {
      stroke: $main-green;
    }

    svg {
      transition: transform 0.3s ease; // плавный переход для поворота
    }

    &:not(:hover) svg {
      transform: rotate(0deg); // возвращаем в исходное положение
    }
  }

  &__img-block {
    position: relative;
    @media (max-width: 673px) {
      grid-column: 3/4;
      grid-row: 1/2;
      min-height: 80px;
      object-fit: cover;
    }

    @media (max-width: 450px) {
      grid-column: 1/4;
      grid-row: 2/3;
      min-height: 80px;
      object-fit: cover;
    }
  }

  &__img {
    width: 100%;
  }

  &__img-tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    padding: 0.8rem 2.5rem;
    background-color: $main-green;
    border-radius: 0.5rem;
    font-weight: 500;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45);

    @media (max-width: 1024px) {
      font-size: 1rem;
      padding: 0.4rem 1.5rem;
    }
    @media (max-width: 673px) {
      font-size: 1.2rem;
      padding: 0.5rem 1.8rem;
    }
  }
}
