@use "helpers/color" as *;

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 12px;

  @media (max-width: 673px) {
    grid-template-columns: repeat(2, 1fr);
  }
  a {
    opacity: 0.5;
    color: $main-black;
    text-decoration: none;
    transition: all ease-in 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  a:last-of-type {
    text-decoration: underline;
  }

  p {
    opacity: 0.5;
  }

  &__policy {
    justify-self: center;
    @media (max-width: 673px) {
      margin-top: 1rem;
      grid-row: 2/3;
      justify-self: start;
    }
  }

  &__web {
    justify-self: end;

    @media (max-width: 673px) {
      // grid-columns: 1/4;
      margin-top: 1rem;
      grid-row: 2/3;
    }
  }
}
