@use "helpers/color" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  border-bottom: 0.1rem solid $subline-color-grey;
  // padding: 0 1.5rem;

  @media (max-width: 1260px) {
    margin-bottom: 3rem;
  }

  &__nav {
    height: 5.6rem;
    padding-top: 1.6rem;

    @media (max-width: 1260px) {
      padding-top: 10px;
      height: 6.5rem;
    }
  }

  a {
    text-decoration: none;
    color: $main-black;
    transition: all 0.3s ease-in;
    &:hover {
      color: $main-orange;
    }
  }

  &__logo {
    margin-right: 3rem;
  }

  &__phone {
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    font-weight: 500;

    @media (max-width: 1260px) {
      left: 0;
      top: 2.9rem;
      font-size: 1.9rem;
    }
  }
}

// MAIN: NAV;

.main-nav {
  ul {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;

    & :not(:last-child) {
      margin-right: 2rem;
    }

    @media (max-width: 1260px) {
      position: relative;
      justify-content: space-between;
      margin-top: 10px;
    }
  }

  li {
    list-style-type: none;
  }

  @media (max-width: 1260px) {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-content: space-between;
  }
}

// BTN CALLING: ;

.calling {
  justify-self: end;
  // outline: 1px solid tomato;

  &__btn {
    position: relative;
    font-size: 1.4rem;
    color: $main-black;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      color: $main-orange;
    }

    &-online {
      margin-right: 3.5rem;

      &::before {
        position: absolute;
        content: url("../../../img/icons/online-icon-btn.svg");
        width: 1.1rem;
        height: 1.4rem;
        left: -2rem;
        top: 0;
      }
    }
    &-gager {
      &::before {
        position: absolute;
        content: url("../../../img/icons/call-icon-btn.svg");
        width: 1.1rem;
        height: 1.4rem;
        left: -2rem;
        top: 0;
      }
    }
  }

  @media (max-width: 1260px) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}

.logo-phone {
  position: relative;
}
