@use "helpers/color" as *;
.popup {
  position: fixed;
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s ease;

  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
  transform: translate(-50%, -50%);
  overflow: auto;

  // КОНТЕЙНЕР POPUP
  &__container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5rem 5rem 5.5rem;
    color: #000;
    background-color: #fff;
    border-radius: 1rem;

    @media (max-width: 425px) {
      max-width: 39.5rem;
      padding: 2.5rem 2.5rem 3.5rem;
      width: 100%;
    }

    @media (max-width: 375px) {
      max-width: 36.5rem;
      padding: 2rem 2rem 3rem;
    }
  }
  //

  // ФОРМА
  &__form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    min-width: 45rem;

    @media (max-width: 600px) {
      min-width: 30rem;
    }

    @media (max-width: 375px) {
      min-width: 26rem;
    }
  }

  &__form-set {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    width: 100%;
  }

  &__form-message {
    display: flex;
    flex-direction: column;
    // margin: 0;
  }

  &__form-field_phone {
    position: relative;
  }

  & textarea {
    // outline: 1px solid green;
    width: 100%;
    min-height: 20rem;
    border: 1px solid $main-grey;
    padding: 1.4rem 3rem 1.4rem 1.4rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $main-grey;
    margin-bottom: 1.2rem;
  }

  &__textarea-message {
    min-height: 20rem;
  }
  //

  // ЗАГОЛОВОК, ПОДЗАГОЛОВОК
  &__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.2rem;
    color: $main-orange;
    text-align: center;

    @media (max-width: 320px) {
      // max-width: 25rem;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 2.1rem;
    margin-bottom: 3rem;
    text-align: center;
    color: $main-grey;
    max-width: 30.5rem;
    justify-content: center;
  }

  &__title-consultation {
    max-width: 40rem;
    margin-bottom: 2rem;
  }
  //

  //ИНПУТЫ
  &__input {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1.4rem 2rem;
    margin-bottom: 1.5rem;

    font-size: 14px;
    line-height: 17px;

    outline: none;
    border: 1px solid $main-grey;
    border-radius: 1rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__input-phone {
    margin-bottom: 3rem;
  }

  // КНОПКА ОТПРАВИТЬ
  &__submit {
    font-size: 1.4rem;
    line-height: 2.1rem;
    background-color: transparent;
    border-radius: 1rem;
    padding: 1.4rem;
    margin-top: 4rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    color: $main-orange;
    border: 1px solid $main-orange;

    &:hover {
      background-color: $main-orange;
      color: #fff;
    }
  }

  &__submit-gager {
  }

  &__submit-consultation {
  }
  //

  // КНОПКА КРЕСТИК ЗАКРЫТИЯ
  &__close-btn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    // outline: 1px solid tomato;

    background-image: url("../img/icons/popup-btn-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    border: none;

    font-size: 0;
    cursor: pointer;

    @media (max-width: 425px) {
      top: 2rem;
      right: 1rem;
    }
  }

  &__text-personal-data {
    font-size: 1.2rem;
    & a {
      color: #1200faff;
      text-decoration: none;
    }
  }
  //
  &_opened {
    /* display: block; */
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: opacity 0.5s, visibility 0.5s ease;
  }
  //

  &__submit-active {
    background-color: $main-orange;
    color: #fff;
  }

  &__input-error {
    position: absolute;
    bottom: 1.3rem;
    left: 0;
    font-size: 1.2rem;
    color: #ff0000;
    font-weight: 500;

    opacity: 0;
  }

  &__input-error_active {
    opacity: 1;
  }

  &__input-error_calculate {
    position: absolute;
    left: 0;
    top: 5rem;
  }

  &__container-success {
    position: fixed;
    background-color: rgba(219, 219, 219, 0.8);
    width: 100%;
    height: 100%;
    z-index: 300;
  }

  &__success-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-green;
    text-align: center;
    padding: 5rem;
    border-radius: 1rem;

    & h3 {
      font-size: 2.4rem;
      color: #fff;
      margin-bottom: 1.3rem;
    }

    & p {
      font-size: 1.6rem;
      color: #fff;
    }
  }

  &__container-card {
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 300;
    background-color: transparent;
  }
}

.popup-card__inner {
  // outline: 1px solid blue;
  margin-top: 3rem;
  padding: 2rem;

  @media (max-width: 425px) {
    padding: 0 0 1rem 0;
  }
}

.popup-card__close-btn {
  z-index: 1000;
}
.popup-success {
  display: none;

  &-active {
    display: block;
  }
}
