@use "helpers/color" as *;
.comment {
  margin-bottom: 20rem;

  @media (max-width: 768px) {
    margin-bottom: 6rem;
  }

  &__inner {
    display: flex;
    overflow-x: auto;
    padding-bottom: 3rem;

    &::-webkit-scrollbar {
      width: 1rem;
      height: 0.5rem;

      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $main-orange;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $subline-color-grey;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: #41617d !important;
    }
  }

  &__slide {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem 0;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    @media (max-width: 1260px) {
      min-width: 48rem;
    }
    @media (max-width: 673px) {
      min-width: 38.8rem;
    }
  }

  &__slide-name {
    position: relative;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    padding-left: 6rem;
    color: $main-black;

    &::before {
      content: url("../img/icons/comment-quote-icon.svg");
      position: absolute;
      top: 0;
      left: 0;
      width: 3.2rem;
      height: 2.2rem;
    }
  }

  &__slide-text {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    padding: 1.7rem 0 0 6rem;
    color: $main-grey;

    @media (max-width: 673px) {
      padding: 1.7rem 0 0 0rem;
    }
  }
}
